.popover-icon {
  display: inline-block;
  margin: 0 6px 0;
  width: 16px;
  height: 19px;
  background: transparent url("../img/sprite.png") -80px -43px no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: help;
}
